<!-- views/error.ejs -->

<div class="container text-center my-5 py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-1 text-danger font-weight-bold"><%= statusCode %></h1>
            <h2 class="mb-4"><%= title %></h2>
            <p class="lead text-muted"><%= message %></p>
            <a href="/" class="btn btn-primary mt-4 px-4">Home Page Par Wapas Jayein</a>
        </div>
    </div>
</div>